   <footer class="page-footer bg-primary">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">IBlogs</h5>
                <p class="grey-text text-lighten-4">Connect With Us and Post your feelings</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social-Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/sunrit-paul-998787230">Linkedin</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://instagram.com/sunrit.footage?igshid=OGQ5ZDc2ODk2ZA==">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/roking.sunrit?mibextid=D4KYlr">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://twitter.com/sunrit_paul">Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2023 Develop by SunritPaul(IBlog)
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>